body {
    padding: 30px 20px;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#header {
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

h2 {
    margin-top: 50px;
    font-family: 'Roboto Slab', serif;
}

p {
    line-height: 30px;
    font-size: 20px;
    font-family: 'Archivo', sans-serif;
    word-wrap: break-word;
}

input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
    font-size: 20px;
    outline: 0;
}

button {
    border-radius: 0 6px 6px 0;
    background-color:#c0392b;
    outline:0;
    border:0;
    color:#FFF;
    padding: 12px 20px;
    font-size: 20px;
    border: 1px solid transparent;
    margin-left:-8px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}
button i {
    transition: 0.5s all ease-in-out;
}
button:hover {
    background-color:#881004;
}
button:hover i {
    transform: rotate(360deg);
}
#done {
    display: none;
}

#done h2 {
    text-align: center;
    font-size: 30px;
    color: red;
}

#done>span {
    display: block;
    font-size: 20px;
    line-height: 40px;
}

#done span:first-of-type span {
    color: #35ff35;
}

#done span:nth-of-type(2) span {
    color: #f00;
}