body {
    padding: 30px 20px;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);

    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#header {
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

h2 {
    margin-top: 50px;
    font-family: 'Roboto Slab', serif;
}

p {
    line-height: 30px;
    font-size: 20px;
    font-family: 'Archivo', sans-serif;
}

input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size:20px;
}

#done {
    display: none;
}

#done h2 {
    text-align: center;
    font-size: 30px;
    color: red;
}

#done>span {
    display: block;
    font-size: 20px;
    line-height: 40px;
}

#done span:first-of-type span {
    color: #35ff35;
}

#done span:nth-of-type(2) span {
    color: #f00;
}